<div class="background-opaque-overlay">
  <div class="content">
    <h1 class="text-center">All Chat Channels</h1>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <% @channels.each do |channel| %>
              <% if channel == @channel %>
                <p><a href="/channels/<%=channel.id%>-<%=channel.name%>" class="btn btn-dark"><%= channel.name %></a></p>
              <% else %>
                <p><a href="/channels/<%=channel.id%>-<%=channel.name%>" class="btn btn-light"><%= channel.name %></a></p>
              <% end %>
            <% end %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="messages">
                        <% @messages.each do |message| %>
                          <p>
                              <% if current_user.admin %>
                                <a href="/users/<%= message.user_id %>/delete" rel = "nofollow" data-confirm = "are you sure">
                                    <i class="fas fa-dumpster-fire"></i>
                                </a>
                              <% end %>
                              <span class="message"><%= User.find(message.user_id).username %>: <%= message.text %></span>
                              <% if current_user.admin %>
                                <a href="/messages/<%= message.id %>/delete" data-confirm = "are you sure">
                                    <i class="fas fa-eraser"></i>
                                </a>
                              <% end %>
                          </p>
                        <% end %>
                    </div>
                    <form class="form-inline" action="/sendm">
                        <div class="form-group mb-2">
                            <label for="inputtext" class="sr-only">message</label>
                            <input type="text" class="form-control" id="inputtext" placeholder="message" name="message">
                        </div>
                        <input type="hidden" value="<%= @channel.id %>" name="channel_id">
                        <button type="submit" class="btn btn-primary mb-2">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<script>
  $(".message").each(function () {
      console.log(this.textContent.length)
      for (var i = 0; i < this.textContent.length; i++) {
          var soc;
          var eoc;
          if (this.textContent[i] == "#") {
              soc = i;
              console.log(this.textContent[i])
          }
          if (soc && this.textContent[i] == " ") {
              eoc = i;
          }
      }
      console.log(this.textContent.substring(soc, eoc))
  })
</script>
